
parameters:
    level: 4
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist#'
        - '#Attribute class JetBrains\\PhpStorm\\Pure does not exist#'
        - '#PHPDoc tag @throws with type .* is not subtype of Throwable#'
        -
            message: '#.*#'
            paths:
                - src/OPcache/Views/opcache.php