<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Laravel Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC" />
        <ini name="intl.default_locale" value="C.UTF-8" />
        <ini name="memory_limit" value="2048M" />
        <env name="DB_CONNECTION" value="" />
        <env name="TEST_PGSQL_HOST" value="" />
        <env name="TEST_PGSQL_PORT" value="" />
        <env name="TEST_PGSQL_DATABASE" value="" />
        <env name="TEST_PGSQL_USERNAME" value="" />
        <env name="TEST_PGSQL_PASSWORD" value="" />
        <env name="REDIS_HOST" value="" />
        <env name="REDIS_PORT" value="" />
    </php>
</phpunit>
