name: Lint

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Setup PHP
        uses: shivammathur/setup-php@master

      - name: System Setting
        run: |
          php -v
          composer -V
          php -m

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run check-style
        run: composer run-script check-style

      - name: Run php-cs-fxier
        run: composer run-script fix-style

      - name: Run phpstan
        run: composer run-script phpstan