name: Test

on: [ push, pull_request ]

jobs:
  run:
    runs-on: ${{ matrix.system }}
    strategy:
      max-parallel: 15
      matrix:
        system: [ ubuntu-latest, macOS-latest ]
        php: [ 7.0, 7.1, 7.2, 7.3, 7.4, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5 ]
        laravel: [ 5, 6, 7, 8, 9, 10, 11, 12 ]
    name: PHP ${{ matrix.php }} Laravel ${{ matrix.laravel }} Test on ${{ matrix.system }}
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, xdebug, opcache, fileinfo, mcrypt #optional, setup extensions
          tools: composer:v2
          ini-values: post_max_size=256M, short_open_tag=On, opcache.enable_cli=1 #optional, setup php.ini configuration

      - name: System Setting
        run: |
          php -v
          composer -V
          php -m

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: |
          echo "has_deps=false" >> "$GITHUB_ENV"
          composer require laravel/framework:^${{ matrix.laravel }} --dev --no-update
          composer update --prefer-dist --no-interaction --no-progress
          echo "has_deps=true" >> "$GITHUB_ENV"
        continue-on-error: true

      - name: Run PHPUnit
        if: ${{ 'true' == env.has_deps }}
        run: |
          composer run-script test